# **TELECOM X - CHURN DE CLIENTES**

## **EXTRACCI√ìN DATOS** üìë

**Instalamos la biblioteca pandas para realizar el an√°lisis de datos**

In [276]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

**Importamos pandas para realizar la extracci√≥n desde la API, el an√°lisis y visualizaci√≥n de los datos**

In [277]:
import pandas as pd
from IPython.display import display

try:
    url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
    df_telecomx = pd.read_json(url)

except Exception as e:
    # Datos no localizados de la API
    print(f'Error al extraer los datos: {e}')

else:
    # Usamos display() para ver el DataFrame formateado si no hay error
    print("Datos cargados exitosamente:")
    display(df_telecomx.head())

Datos cargados exitosamente:

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

**Aplicamos el m√©todo [info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) que muestra un resumen de los datos**

In [278]:
try:
  df_telecomx.info()
except Exception as e:
  print(f'Error al extraer los datos: {e}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

## **TRANSFORMACION** üîß

**Aplicamos el m√©todo [json_normalize()](https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html) para normalizar y extraer los datos dentro de los diccionarios de cada columna y creando un DataFrame con cada uno**

In [279]:
try:
  df_costumer = pd.json_normalize(df_telecomx['customer'])
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')
else:
  display(df_costumer.head())

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [280]:
try:
  df_internet = pd.json_normalize(df_telecomx['phone'])

except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')
else:
  display(df_internet.head())

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [281]:
try:
  df_phone = pd.json_normalize(df_telecomx['internet'])
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')
else:
  display(df_phone.head())

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [282]:
try:
  df_account = pd.json_normalize(df_telecomx['account'])
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')
else:
  display(df_account.head())

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [283]:
pd.set_option('display.max_columns',None)

**Aplicamos el m√©todo [concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) para unir todos los DataFrames y compilar nuevamente la informaci√≥n**

In [284]:
try:
  df_telecomx_normalizado = pd.concat([
    df_telecomx[['customerID','Churn']],
    df_costumer,df_phone,df_internet,df_account], axis=1)

except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

else:
  display(df_telecomx_normalizado.head())

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,DSL,No,Yes,No,Yes,Yes,No,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,DSL,No,No,No,No,No,Yes,Yes,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Fiber optic,No,No,Yes,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,Yes,No,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Fiber optic,No,No,No,Yes,Yes,No,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

**Conociendo mis nuevos datos: Aplicamos el m√©todo [info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) para mostrar un resumen de los datos y el m√©todo [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) que muestra un resumen estad√≠stico**

In [285]:
try:
  df_telecomx_normalizado.info()
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   InternetService   7267 non-null   object
 8   OnlineSecurity    7267 non-null   object
 9   OnlineBackup      7267 non-null   object
 10  DeviceProtection  7267 non-null   object
 11  TechSupport       7267 non-null   object
 12  StreamingTV       7267 non-null   object
 13  StreamingMovies   7267 non-null   object
 14  PhoneService      7267 non-null   object
 15  MultipleLines     7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [286]:
try:
  df_telecomx_normalizado.describe()
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

else:
  display(df_telecomx_normalizado.describe())

       SeniorCitizen       tenure  Charges.Monthly
count    7267.000000  7267.000000      7267.000000
mean        0.162653    32.346498        64.720098
std         0.369074    24.571773        30.129572
min         0.000000     0.000000        18.250000
25%         0.000000     9.000000        35.425000
50%         0.000000    29.000000        70.300000
75%         0.000000    55.000000        89.875000
max         1.000000    72.000000       118.750000

**Preparando los datos: Se realizo el renombrado de las columnas Charges.Monthly y Charges.Total por ChargesMonthly y ChargesTotal para mayor legibilidad con el m√©todo [rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)**

In [287]:
try:
  df_telecomx_normalizado = df_telecomx_normalizado.rename(columns={'Charges.Monthly':'ChargesMonthly','Charges.Total':'ChargesTotal'})
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

else:
  display(df_telecomx_normalizado.head())

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal
0,0002-ORFBO,No,Female,0,Yes,Yes,9,DSL,No,Yes,No,Yes,Yes,No,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,DSL,No,No,No,No,No,Yes,Yes,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Fiber optic,No,No,Yes,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,Yes,No,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Fiber optic,No,No,No,Yes,Yes,No,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

**Instalamos la biblioteca Numpy para realizar la formataci√≥n de los datos**

In [288]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

**Utilizamos el m√©todo [to_numeric](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas.to_numeric) para convertir los valores de la columnas en n√∫meros, en conjunto del m√©todo [interpolate](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate) para rellenar los valores NaN y por √∫ltimo utilizamos los m√©todos [isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html#pandas.DataFrame.isna) junt√≥ a [value_counts](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html#pandas.DataFrame.value_counts) para contar y validar que no no haya ning√∫n NaN**

In [289]:
try:
  df_telecomx_normalizado['ChargesTotal'] = pd.to_numeric(df_telecomx_normalizado['ChargesTotal'], errors='coerce')
  df_telecomx_normalizado['ChargesTotal'] = df_telecomx_normalizado['ChargesTotal'].interpolate(method='linear', limit_direction='both')


  df_telecomx_normalizado['ChargesMonthly'] = pd.to_numeric(df_telecomx_normalizado['ChargesMonthly'], errors='coerce')
  df_telecomx_normalizado['ChargesMonthly'] = df_telecomx_normalizado['ChargesMonthly'].interpolate(method='linear', limit_direction='both')

except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

else:
  display(df_telecomx_normalizado[['ChargesMonthly','ChargesTotal']].isna().value_counts())

ChargesMonthly  ChargesTotal
False           False           7267
Name: count, dtype: int64

**Utilizamos el m√©todo [replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html#pandas.DataFrame.replace) para formatear las columnas con valores Yes y No, ha n√∫meros binarios donde 1 es igual a Yes y 0 es igual a No, tambi√©n utilizamos el m√©todo [apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) para aplicar el cambio de tipo de dato a las columnas y as√≠ obtener mejor procesamiento al momento del an√°lisis**

In [290]:
cols_yes_no = [
    'Churn','Partner','Dependents','OnlineSecurity','OnlineBackup',
    'DeviceProtection','TechSupport','StreamingTV','StreamingMovies',
    'PhoneService','MultipleLines','PaperlessBilling'
    ]

In [291]:
try:
    df_telecomx_normalizado[cols_yes_no] = ( df_telecomx_normalizado[cols_yes_no].replace({'Yes': 1, 'No': 0})
    .apply(pd.to_numeric, errors='coerce'))

    df_telecomx_normalizado[cols_yes_no] = df_telecomx_normalizado[cols_yes_no].interpolate(method='linear', limit_direction='both').astype(int)
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

else:
  display(df_telecomx_normalizado.head())

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal
0,0002-ORFBO,0,Female,0,1,1,9,DSL,0,1,0,1,1,0,1,0,One year,1,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,0,0,9,DSL,0,0,0,0,0,1,1,1,Month-to-month,0,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,Fiber optic,0,0,1,0,0,0,1,0,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1,Male,1,1,0,13,Fiber optic,0,1,1,0,1,1,1,0,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,Fiber optic,0,0,0,1,1,0,1,0,Month-to-month,1,Mailed check,83.9,267.40

**Confirmamos que no hallan datos nulos en las columnas**

In [292]:
df_telecomx_normalizado[cols_yes_no].isna().value_counts()

Churn  Partner  Dependents  OnlineSecurity  OnlineBackup  DeviceProtection  TechSupport  StreamingTV  StreamingMovies  PhoneService  MultipleLines  PaperlessBilling
False  False    False       False           False         False             False        False        False            False         False          False               7267
Name: count, dtype: int64

**Conociendo mis nuevos datos tratados: Aplicamos el m√©todo [info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) para mostrar un resumen de los datos y el m√©todo [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) que muestra un resumen estad√≠stico**

In [293]:
try:
  df_telecomx_normalizado.info()
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   int64
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   int64
 5   Dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   InternetService   7267 non-null   object
 8   OnlineSecurity    7267 non-null   int64
 9   OnlineBackup      7267 non-null   int64
 10  DeviceProtection  7267 non-null   int64
 11  TechSupport       7267 non-null   int64
 12  StreamingTV       7267 non-null   int64
 13  StreamingMovies   7267 non-null   int64
 14  PhoneService      7267 non-null   int64
 15  MultipleLines     7267 non-null   int64
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   int64
 18  PaymentMethod     7267 non-null   object
 19  ChargesMonthly    7267 non-null   float64
 20  ChargesTotal      7267 non-null   float64
dtypes: float64(2), int64(14), object(5)
memory usage: 1.2+ MB

In [294]:
try:
  df_telecomx_normalizado.describe()
except Exception as e:
  print(f'Error al extraer los datos verifique: {e}')
else:
  display(df_telecomx_normalizado.describe())

,Churn,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines,PaperlessBilling,ChargesMonthly,ChargesTotal
count,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000
mean,0.260217,0.162653,0.484106,0.300124,32.346498,0.315674,0.387092,0.387780,0.320490,0.435668,0.441035,0.902711,0.440209,0.593230,64.720098,2281.459240
std,0.438783,0.369074,0.499782,0.458343,24.571773,0.464816,0.487119,0.487278,0.466697,0.495878,0.496545,0.296371,0.496446,0.491265,30.129572,2267.731266
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,35.425000,401.200000
50%,0.000000,0.000000,0.000000,0.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,70.300000,1391.650000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.875000,3790.400000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000